body {
    font-family: sans-serif;
    display: flex;
}

nav {
    flex: none;
    padding: 1em;
    border: thin solid grey;
}

#search-results {
    display: flex;
    flex-direction: column;
}

#search-results header {
    margin: 0.5em 0;
    order: 0;
}

#search-results div {
    display: flex;
    align-items: center;
}

#search-results span {
    flex-grow: 1;
}

#search-results img {
    width: 4em;
    height: 4em;
}

#badges div {
    float: left;
    margin: 0.01in;
    text-align: center;
}

#badges div img {
    width: 2.625in;
    height: 2.625in;
    box-sizing: border-box;
    border-radius: 50%;
}

img.gold-border {
    border: 2mm solid orange;
}

img.blue-border {
    border: 2mm solid cyan;
}

img.green-border {
    border: 2mm solid lime;
}

img.red-border {
    border: 2mm solid red;
}

img.yellow-border {
    border: 2mm solid yellow;
}

.hide {
    display: none;
}

@media print {
    nav, select, button {
        display: none;
    }
}